.graph {
    max-height: 275px;
    max-width: 275px;
}

.card-dashboard:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}


.view-bills {
    font-weight: 550;
}

.table-wrapper-scroll-y {
    display: block;

}

.my-custom-scrollbar {
    position: relative;
    height: 320px;
    overflow: auto;
    width: 100%;
    min-height: 41vh !important
}

.my-custom-scrollbar::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;
}


.preloader {
    background: rgba(10, 10, 10, 0.9);
    position: fixed;
    inset: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-line-loader {
    display: flex;
    gap: 8px;
}

.hr-line-loader .line {
    width: 6px;
    height: 40px;
    background: #0d6efd;
    /* corporate blue */
    border-radius: 4px;
    animation: hrLine 0.8s infinite ease-in-out;
}

.hr-line-loader .line:nth-child(2) {
    animation-delay: 0.15s;
}

.hr-line-loader .line:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes hrLine {
    0% {
        height: 12px;
        opacity: 0.5;
    }

    50% {
        height: 40px;
        opacity: 1;
    }

    100% {
        height: 12px;
        opacity: 0.5;
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Hide by default after load */
.preloader.hidden {
    display: none;
}



span.icon-position {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 11;
    transform: translateY(-50%);
}


.extra-padding {
    padding-right: 40px;
}

.load-more-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.load-more-wrapper button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}



.input-sm {
    height: 30px;
}

.input-sm-2 {
    height: 10px;
}

.report-text {
    font-size: 11px;
}

.ledger-text {
    font-size: 12px;
}

.bill-text {
    font-size: 15px;
}

.my-custom-scrollbar-stock {
    position: relative;
    height: 380px;
    overflow: auto;
    width: 100%;
    min-height: 53vh !important
}

.status-container {
    height: 250px;
    overflow-y: scroll;
    padding: 5px;
}

.my-custom-scrollbar-stock::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;
}


.my-custom-scrollbar-ledger {
    position: relative;
    height: 450px;
    overflow: auto;
    width: 100%;
    min-height: 65vh !important
}

.my-custom-scrollbar-ledger::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;
}


.my-custom-scrollbar-bill2 {
    position: relative;
    height: 300px;
    overflow: auto;
    width: 100%;
    min-height: 50vh !important
}

.my-custom-scrollbar-bill2::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;
}

.pos-code {
    font-weight: 750;
    font-size: 16px;
}

.pos-text {
    font-size: 13px;
}


.pos-card:active+.pos-card,
.pos-card:checked+.pos-card,
.pos-card.active,
.pos-card:active,
.pos-card:focus {
    color: #FFF;
    background-color: rgba(0, 204, 189, .5);
}

.pos-card:hover:not(.disabled):not(:disabled) {
    color: #FFF;
    background-color: rgba(0, 204, 189, .5);
}


.pos-card-wrapper-scroll-y {
    display: block;

}

.my-custom-scrollbar-pos-card {
    position: relative;
    height: 400px;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 55vh !important
}

.my-custom-scrollbar-pos-card::-webkit-scrollbar {
    width: 3px !important;

}


.my-custom-scrollbar-pos-card::-webkit-scrollbar-track {
    background: transparent;
}

.my-custom-scrollbar-pos-card::-webkit-scrollbar-thumb {
    background: transparent;
}

.my-custom-scrollbar-pos-card::-webkit-scrollbar-thumb:hover {
    background: transparent;
}




.order-list-wrapper-scroll-y {
    display: block;

}

.my-custom-scrollbar-order-list {
    position: relative;
    height: 210px;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 30vh !important
}

.my-custom-scrollbar-order-list::-webkit-scrollbar {
    width: 3px !important;

}


.my-custom-scrollbar-order-list::-webkit-scrollbar-track {
    background: transparent;
}

.my-custom-scrollbar-order-list::-webkit-scrollbar-thumb {
    background: transparent;
}

.my-custom-scrollbar-order-list::-webkit-scrollbar-thumb:hover {
    background: transparent;
}




.btn-counter {
    max-height: 30px;
    max-width: 30px;
}


.customer-badge {
    height: 30px;
    width: 30px;
}

.login-cover {
    min-height: 780px;
    max-width: 1200px;
}

.inventory-text {
    font-size: 13px;
}



.match-height>[class*=col] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column
}

.match-height>[class*=col]>.card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.login-logo {
    width: 60px !important;
}


.board-title {
    background-color: #f1f1f1;
    padding: 5px 20px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.scrum-board {
    flex: 1;
    padding: 20px;
}

.scrum-board-processing {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}




.scrum-task-pending {
    position: relative;
    display: block;
    padding: 10px;
    border: .5px solid #8392ab;
    border-left: 5px solid #8392ab;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #fff;
    cursor: all-scroll;
}


.scrum-task-processing {
    position: relative;
    display: block;
    padding: 10px;
    border: .5px solid #faae42;
    border-left: 5px solid #faae42;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #fff;
    cursor: all-scroll;
}


.scrum-task-ready {
    position: relative;
    display: block;
    padding: 10px;
    border: .5px solid #2dce89;
    border-left: 5px solid #2dce89;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #fff;
    cursor: all-scroll;
}






.today-task-pending {
    position: relative;
    display: block;
    padding: 5px;
    border: .5px solid #8392ab;
    border-left: 5px solid #8392ab;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #fff;
}


.today-task-processing {
    position: relative;
    display: block;
    padding: 5px;
    border: .5px solid #faae42;
    border-left: 5px solid #faae42;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #fff;
}


.today-task-ready {
    position: relative;
    display: block;
    padding: 5px;
    border: .5px solid #2dce89;
    border-left: 5px solid #2dce89;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #fff;
}

.today-task-delivered {
    position: relative;
    display: block;
    padding: 5px;
    border: .5px solid #10862D;
    border-left: 5px solid #10862D;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #fff;
}

.today-task-returned {
    position: relative;
    display: block;
    padding: 5px;
    border: .5px solid #f5365c;
    border-left: 5px solid #f5365c;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #fff;
}

.input-counter {
    max-width: 80px !important;

}

.sidenav.fixed-end+.main-content {
    margin-right: 0 !important;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    font-weight: 600;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
}


.chat-app-container {
    height: 87vh;
    overflow-x: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
}

.sidebar {
    width: 350px;
    min-width: 350px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
}

.chat-list-item {
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.15s;
}

.chat-list-item:hover {
    background-color: #f5f5f5;
}

.active-chat {
    background-color: #e0f2ff !important;
}

.main-chat-area {
    background-color: #e6ebf1;
}

.message-bubble {
    border-radius: 12px;
    max-width: 70%;
    padding: 10px;
    word-wrap: break-word;
}

.outgoing-message {
    background-color: #0d6efd;
    color: #fff;
    border-bottom-right-radius: 2px !important;
}

.incoming-message {
    background-color: #fff;
    color: #000;
    border-bottom-left-radius: 2px !important;
}

.hover-bg-light:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.mention {
    font-weight: bold;
    color: rgb(255, 255, 255);

}

#message_input {
    box-shadow: none !important;
    border-radius: 25px;
    border-color: transparent;
}

#message_input:-webkit-autofill,
#message_input:-webkit-autofill:hover,
#message_input:-webkit-autofill:focus {
    background-color: #fff !important;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}













/* Dropdown scroll */
.dropdown-scroll {
    max-height: 160px;
    overflow-y: auto;
    scrollbar-width: thin;
}


.hover-bg-light:hover {
    background: #f8f9fa;
}

/* Left buttons container */
/*.left-actions {
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
}*/

/* Search icon container */
/*.search-icon {
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}*/

/* Attachment popup position */
#attachmentPopup {
    bottom: 50px;
    left: 0;
    width: 220px;
    z-index: 2000;
}

.icon-30 {
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    font-size: 14px;
}

/* For mobile (<= 576px) */
@media (max-width: 576px) {

    #attachmentPopup {
        left: -20px;
    }
}
