/* Chrome, Edge, Safari */
select.form-select::-webkit-scrollbar {
    width: 8px;
}

select.form-select::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

select.form-select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

select.form-select::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
select.form-select {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.custom-report-badge {
    background-color: #6c757d;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-report-badge:hover {
    background-color: #495057;
}
